<% unless flash[:notice].nil? %>
  <%= flash[:notice] %>
<% end %>

<div class="link-div">
		<%= link_to "Manage Course",  :action => "manage_course" %><br />
              </div>
              <div class="link-div">
                <%= link_to "Manage Batch", {:controller => "batches", :action => "index" }, :class => "link" %>
